@mixin bd($b){
	-webkit-border-radius: $b;
	-moz-border-radius: $b;
	-ms-border-radius: $b;
	border-radius: $b;
}
@keyframes anima {
    0%   {left:0px; top:0px;}
    12.5%  {left:290px; top:200px;}
    25%  {left:290px; top:0px;}
    37.5%  {left:0px; top:200px;}
    50% {left:0px; top:0px;}
    62.5%  {left:290px; top:0px;}
    75%  {left:290px; top:200px;}
    87.5%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

$gradient: linear-gradient(#6666ff,#ccffff);
$border: solid 1px;
.container{
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	background: url(media/background.jpg) left top repeat;
	padding-bottom: 10px;
	hr{
		clear: both;
		margin-top: 2px;
	}
	.content{
		@include bd(15px);
		padding: 3px;
		float: left;
		border: solid 1px #009900;
		margin: 5px;
		background-color: #00ccff;
	}
	.content2{
		@extend .content;
		width: 250px;
		padding: 10px;
		height: 250px;
		box-shadow: 10px 10px 5px grey;
		form{
			margin: 5px;
		}
	}
}
.content1{
	margin-right: 20px;
	float: right;
	height: 500px;
	width: 400px;
	padding: 5px;
	margin-bottom: 10px;
	background: $gradient;
	a{
		text-decoration:none;
		background: #99ff66;
	}
	a:hover{
		@include bd(10px);
		background: #66ffff;
		width: 200px;
		height: 70px;
		border: $border;
	}
}
#anim{
	margin-left: 5px;
    width: 100px;
    height: 100px;
    position: relative;
    background-color: white;
    animation-name: anima;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.new{
	clear: both;
	padding-bottom: 5px;
	background-color: #ffccff;
}
table{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	border: $border;
	tr{
		th{
			border-bottom: solid 2px;
		}
		td{
			border: $border;
		}
	}
}
#vid{
	float: right;
	margin-right: 10px;
}
